.slide .image {
  margin: 0;

  background: none;
  border: none;
  box-shadow: none;
}

.slide .shaded-text {
  color: rgb(158, 158, 158);
}

.slide .marked-text {
  color: rgb(255, 102, 0);
}

.slide .smaller-text {
  font-size: 0.8em;
}

.slide .smaller-code {
  font-size: 0.7em;
  line-height: 1.5em;
}

.slide .thick-text {
  font-weight: 700;
}

.slide .bigger-top-margin {
  margin: 2em;
}

.slide .no-margin {
  margin: 0;
}

.slide .slide-heading {
  text-transform: none;
}

.slide .logo {
  color: rgb(255, 102, 0);
}

.slide .image.image-in-center {
  position: relative;
  bottom: 0.1em;

  vertical-align: middle;
}

.slide .logo .logo-part {
  color: rgb(158, 158, 158);
}

.slide .speaker {
  font-size: 0.6em;
  color: rgb(158, 158, 158);
}

.slide.question .slide-heading {
  font-size: 2em;
  color: white;
}

.slide blockquote {
  color: rgb(255, 102, 0);
}

.slide .fragment-with-year {
  margin-left: 2em;

  vertical-align: middle;
  text-align: left;
}

.slide .fragment-with-year .year {
  display: inline-block;

  text-align: center;
}

.slide .image-description {
  padding-left: 1.7em;
}

.slide .fragment-with-arrow {
  margin-left: 2.6em;

  text-align: left;
}

.slide table td {
  padding: 2em;

  text-align: center;
}

.slide .table-with-images td {
  padding: 0;
}
